<div style="margin: 10px; padding: 10px; background :#<%= "%06x" % (rand * 0xffffff) %>" class="nested-fields">

  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>


  <div id="employees">
    <%= f.fields_for :employees do |employee| %>
      <%= render 'employee_fields', :f => employee %>
    <% end %>

    <% @stack = @stack.to_i + 1 %>
    <% if @stack <= 5 %>
      <div class="links">
        <%= link_to_add_association 'Add employees', f, :employees %>
      </div>
    <% end %>

  </div>

</div>
